 // 商品材料
 #goods {
    .button-box {
        .btn-left .el-input__inner {
            border: 1px solid red !important;
            color: red;
        }
        .warning-select .el-input__suffix {
            width: 50px !important;
            text-align: left;
        }
    }
}
// 新建商品

#add-new-goods {
    .el-form {
        margin-left: 20px;
    }

    .el-input, .el-select , .el-checkbox-group{
        width: 80%;
    }
    .el-select .el-input , .el-cascader{
        width: 100%;
    }
}

// 属性
.elcard {
    margin:0 0 10px 0;
}
.table-search {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 80px;
    margin-top: -10px;
    margin-bottom: 10px;
}