@import url('./base.less') ;
@import url('./common.less');

.footer {
     margin-top: 20px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
 
}
.el-table thead tr th{
     background: #eee !important;
     color: #000;
}
.el-badge__content.is-fixed {
    top: 10px !important;
    right: 30px !important;
}
.el-input--suffix .el-input__inner {
    padding-right: 15px !important;
}