@import url('./base.less') ;
@import url('./common.less');
.el-dialog {
    margin-top: 2vh;
    width: 50%;
    min-width: 500px;
    max-height: 90%;
    overflow: auto;
}
.footer {
     margin-top: 20px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
 
}
.el-table thead tr th{
     background: #eee !important;
     color: #000;
}
.el-badge__content.is-fixed {
    top: 10px !important;
    right: 30px !important;
}
.el-input--suffix .el-input__inner {
    padding-right: 15px !important;
}
.top-bar {
    .el-tabs__header {
        margin: 0 !important;
    }
    .el-tabs__nav-wrap::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
         height: 0px !important;
        background-color: #E4E7ED;
        z-index: 1;
    }
}
 // 商品材料
#goods {
    .button-box {
        .btn-left .el-input__inner {
            border: 1px solid red !important;
            color: red;
        }
        .warning-select .el-input__suffix {
            width: 50px !important;
            text-align: left;
        }
    }
}
// 新建商品

#add-new-goods {
    .el-form {
        margin-left: 20px;
    }

    .el-input, .el-select , .el-checkbox-group{
        width: 80%;
    }
    .el-select .el-input , .el-cascader{
        width: 100%;
    }
}

// 属性
#custom-attribute {
    .el-collapse-item__header {
        height: 100% !important;
    }
    .el-collapse-item__arrow {
        width: 10px;
        padding: 0 20px;
        height: 48px;
        line-height: 48px;
    }
}